@{
    ViewBag.Title = "Home Page";
}
<h2>
    Ajax.DataTable() Samples</h2>
<ol>
    <li>@Html.ActionLink("Minimum Configuration", "SimpleMinimumConfiguration")</li>
    <li>@Html.ActionLink("Minimum Configuration- JSON", "SimpleMinimumConfigurationJson")</li>
</ol>
