@using Mvc.Ajax.DataTables
@{
    ViewBag.Title = "Simple DataTable by Defining ColumnDefs";
}
<h2>
    Simple DataTable by Defining ColumnDefs</h2>
<div class="ui-widget">
    <table id="my-table" class="display">
    </table>
</div>
@Ajax.DataTable(
    "my-table",
    new AjaxOptions { Url = Url.Action("GetArrayData"), HttpMethod = "GET" },
    new DataTableAttributes
    {
        ColumnDefs = new List<ColumnDef>()
        {
            new ColumnDef(){ Name="Id", Title="ID", Visible=true }, 
            new ColumnDef(){ Name="Engine", Title="Engine", Visible=true },
            new ColumnDef(){ Name="Browser", Title="Browser"},
            new ColumnDef(){ Name="Platform", Title="Platform"},
            new ColumnDef(){ Name="Version", Title="Version"},
            new ColumnDef(){ Name="Grade", Title="Grade"}
        }
    })
